* { margin: 0; padding: 0; }
		
		html { 
			background : url(images/b.jpg) no-repeat center 			center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background filter:faded;
		}
body { 
	margin: 0px auto;
	background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	min-height:80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111;
}
				
	

	

		
#header {
	margin:0 1px;
}

#index{
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: gray;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; 
	  margin-top:-3px;}
 