* { margin: 0; padding: 0; }
		
		html { 
			background : url(images/b.jpg) no-repeat center 			center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background filter:faded;
		}
		
#header {
	margin:0 1px;
}
#nav {
	
	padding:10px 20px;
	text-align:right;
	color:black;
                  text-size:14pt;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#black;
}

#nav a:hover {
	text-decoration:none;
	color:#red;
}

#index{
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: gray;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; 
	  margin-top:-3px;}
   #navbar li
 {
      float: left; }
   #navbar li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      border-right: 1px solid #ccc; }

   #navbar li a:hover {
      color: gray;
      background-color: violet; }